<!doctype html>
<html ng-app="tink.iban">
<head>
  <meta charset="utf-8">
  <title>Tink module</title>
  <meta name="description" content="">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="initial-scale=1.0,user-scalable=no,minimum-scale=1.0">
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/tink-core/dist/tink.css" />
  <!-- endbower -->
</head>
<body>

<div class="main">
  <div class="container">
    <div class="row margin-top">
      <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
        <!-- <tink-iban required="required" name="ibanField" data-ng-model="ibanModel"></tink-iban> -->
        <form name="ibanForm" novalidate>
          <div class="row form-group" data-ng-class="{'has-error':(ibanForm.ibanField.$dirty || ibanForm.submitted) && ibanForm.ibanField.$invalid,'has-success': (ibanForm.ibanField.$dirty || ibanForm.submitted) && ibanForm.ibanField.$valid}">
            <div class="col-xs-12">
              <label for="tink-username-example">IBAN</label>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="validation">
                <tink-iban required="required" name="ibanField" data-ng-model="ibanModel"></tink-iban>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="messages" data-ng-messages="ibanForm.ibanField.$error" data-ng-if="(ibanForm.ibanField.$dirty || ibanForm.submitted)" >
                <div class="text-danger" data-ng-message="required">Fill in your IBAN.</div>
                <div class="text-danger" data-ng-message="format">Fill in a valid IBAN.</div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-xs-12">
              <button data-ng-click="validateIBAN()" type="button" class="btn-primary">Validate</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- <tink-iban data-text="IBAN is working fine!"></tink-iban> -->


<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/tink-helper-date-angular/dist/tink-helper-date-angular.js"></script>
<script src="bower_components/tink-helper-safe-apply-angular/dist/tink-helper-safe-apply-angular.js"></script>
<script src="bower_components/tink-helper-format-angular/dist/tink-helper-format-angular.js"></script>
<script src="bower_components/iban/iban.js"></script>
<!-- endbower -->

<script src="scripts/directives/tink-iban-angular.js"></script>
</body>
</html>
